cpp/aoc23/aoc23.sln
cpp/aoc23/aoc23.vcxproj
cpp/aoc23/aoc23.vcxproj.filters
cpp/aoc23/aoc23.vcxproj.user
cpp/aoc23/.vs/aoc23/FileContentIndex/2d4c0dd9-0d52-402e-b5d1-2a7a607463c8.vsidx
cpp/aoc23/.vs/aoc23/FileContentIndex/6cad41f8-3536-45eb-a1fe-04c8d4438226.vsidx
cpp/aoc23/.vs/aoc23/FileContentIndex/602a775d-1482-4d53-ac07-76a05f079ee6.vsidx
cpp/aoc23/.vs/aoc23/v17/.suo
cpp/aoc23/.vs/aoc23/v17/Browse.VC.db
cpp/aoc23/.vs/aoc23/v17/ipch/AutoPCH/370524374118e5c4/XTHROW.ipch
cpp/aoc23/.vs/aoc23/v17/ipch/AutoPCH/75e2b40f8bdc4070/DAY1.ipch
cpp/aoc23/x64/Debug/aoc23.exe
cpp/aoc23/x64/Debug/aoc23.exe.recipe
cpp/aoc23/x64/Debug/aoc23.ilk
cpp/aoc23/x64/Debug/aoc23.log
cpp/aoc23/x64/Debug/aoc23.pdb
cpp/aoc23/x64/Debug/aoc23.vcxproj.FileListAbsolute.txt
cpp/aoc23/x64/Debug/day1.obj
cpp/aoc23/x64/Debug/day1.obj.enc
cpp/aoc23/x64/Debug/vc143.idb
cpp/aoc23/x64/Debug/vc143.pdb
cpp/aoc23/x64/Debug/aoc23.tlog/aoc23.lastbuildstate
cpp/aoc23/x64/Debug/aoc23.tlog/CL.command.1.tlog
cpp/aoc23/x64/Debug/aoc23.tlog/Cl.items.tlog
cpp/aoc23/x64/Debug/aoc23.tlog/CL.read.1.tlog
cpp/aoc23/x64/Debug/aoc23.tlog/CL.write.1.tlog
cpp/aoc23/x64/Debug/aoc23.tlog/link.command.1.tlog
cpp/aoc23/x64/Debug/aoc23.tlog/link.read.1.tlog
cpp/aoc23/x64/Debug/aoc23.tlog/link.write.1.tlog
